[Unit]
Description=MyApp

[Service]
ExecStart=/usr/bin/node /path/to/yourrepository/app.js
Restart=always
User=ec2-user
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/path/to/yourrepository

[Install]
WantedBy=multi-user.target
